- if flash.notice.present?
  .alert.alert-info= flash.notice

.row.mgb-10
  .contact-card.col-md-5
    %h4.title-label= @contact.name
    %hr
    .entry
      %strong.key-name Email:
      .key-value= @contact.email
    .entry
      %strong.key-name Notes:
      %span.key-value= @notes.count
    .entry
      %strong.key-name Reminders:
      %span.key-value 5
  .col-md-offset-4.col-md-3.pdt-40
    %img.media-object{:alt => "...", :src => image_path("avatar_#{@contact.gender ? 'male' : 'female'}.png"), :width => "150px"}


= render 'profile_tabs'

.tab-content.pdt-20
  .tab-pane.fade.in.active#profile_tab_content
    = render 'profile_tab'
  .tab-pane.fade#notes_tab_content
    = render 'notes_tab'
  .tab-pane.fade#reminders_tab_content
    = render 'reminders_tab'
  .tab-pane.fade#settings_tab_content
    = render 'settings_tab'


- content_for :right_sidebar do
  .spotlight.info{:role => 'alert'}
    %h4 Heads up!
    .content
      This alert needs your attention, but it's not super important.<br/>
      This alert needs your attention, but it's not super important.
      This alert needs your attention, but it's not super important.

  .spotlight.info.talign-c{:role => 'alert'}
    %h4 Create new reminder!
    .content
      %a.btn.btn-primary{:href => new_contact_path} Create
