!!! 5
%html
	%head
		= csrf_meta_tags
		%link{:rel=>"icon", :type=>"image/png", :href=>"/favicon.png"}
		%title My Contacts
		= stylesheet_link_tag    'application', media: 'all'
		= javascript_include_tag 'application'
	%body
		= render 'layouts/visitor_header'
		= yield
